
*, *::after, *::before{
  box-sizing: border-box;
}

:root {
  --border-radius: 10px;
  --large-screen-width: 30%;
  --medium-screen-width: 50%;
  --small-screen-width: 100%;
  --box-shadow: 1px 1px 1px gray;
  --container-padding: 20px
}

.App {
  text-align: center;
  width: var(--small-screen-width);
  border: 1px solid gray;
  height: 100vh;
  margin: auto;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  border-radius: var(--border-radius);
}

body{
  padding: 0%;
  margin: 0%;
}

/* header */
.box{
    width: 100%;
    border: none;
    height: 125px;
    border-radius: var(--border-radius);
    box-shadow: 0.4px 1px 2px 0.2px #888888;
}

.flex-name{
    display: flex;
    justify-content: space-evenly;
    padding-right:0.7rem ;
    word-wrap: normal;
}

.colume-info{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.computer-color{
    color: red;
}

.user-color{
    color:blue;
}

/* Selection rules */

.selection-btn {
  padding: 10px 0px;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: var(--box-shadow);
  transition: all 0.4s linear;
}

.selection-btn:hover {
  background-color: black;
  color: white;
}

.selection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

@media (min-width:900px){
  .App {
    width: var(--mediam-screen-width);
  }
} 

@media (min-width:1224px){
  .App {
    width: var(--large-screen-width);
  }  
}  

.papper {
  color: green;
}

.rock{
  color: blue;
}

.scissors {
  color: red;
}

/* Play button */
.play-btn {
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  border: none;
  width: 40%;
  height: 20%;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.5s linear;
  animation: zoom 1s linear infinite;
  background-color: rgb(50, 50, 255);
  color: white;
}

.play-btn:hover {
  background-color: rgba(50, 50, 255, 0.8);
}


@keyframes zoom {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.0);
  }
}